<!-- 整合顶部菜单 -->
<template>
  <div id="app">
    <!-- 导航栏 -->
    <navbar></navbar>
    <!-- 主体部分 -->
    <el-container style="height: 92vh;background-color:rgb(255,255,255)" class=".el-container">
      <el-main style="height: 92vh;"><router-view></router-view></el-main>
    </el-container>
  </div>
</template>

<script>

import Navbar from "@/components/Navbar.vue";
export default {
  name: 'App',
  components: {
    Navbar,
  },
}
</script>

<style>
@import "./assets/css/base.css";

</style>
<style>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 4%;
}

.el-loading-mask{
  margin-right: 2%;
}
.el-main
{
  padding: 0px;
}
  html,body,#app,.el-container{
        /*设置内部填充为0，几个布局元素之间没有间距*/
        padding: 0px;
         /*外部间距也是如此设置*/
        margin: 0px;
        /*统一设置高度为100%*/
        height: 100%;
    }
</style>


