<template>
  <el-card style="height:100%">
    <div class="content">
      <el-button type="primary" @click="dialogUpload = true" size="medium" style="float:right;margin-right: 100px;"><i
          class="el-icon-upload2"> 上传项目</i>
      </el-button>
      <el-input v-model="input" placeholder="请输入项目名称" @keyup.enter.native="searchHandler" @keyup.esc. size="medium"
        style="width:200px;float:right;margin-right: 100px;">
        <i slot="prefix" class="el-input__icon el-icon-search"> </i>
        <i @click="returnNormal" v-if="searchOrNot" style="color:#F56C6C;font-size:150%" slot="suffix"
          class="el-input__icon el-icon-close"> </i>
      </el-input>


      <!-- 项目表 -->
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark">
        <!-- <el-table-column prop="id" label="编号" sortable></el-table-column> -->
        <el-table-column align="center" prop="projectname" label="项目名称" sortable></el-table-column>
        <el-table-column align="center" prop="version" label="版本号" sortable>
          <template slot-scope="scope">
            <el-link content="点击版本号可以进行更新项目操作" v-tippy="{arrow : true}" @click="versionUpdate(scope,scope.row)"
              type="primary">
              {{scope.row.version}}</el-link>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="language" label="编程语言"></el-table-column>
        <el-table-column align="center" prop="uploaddate" label="上传日期" sortable :formatter="dateformatter">
        </el-table-column>
        <el-table-column align="center" prop="notes" label="说明"></el-table-column>
        <el-table-column align="center" prop="gitlab" label="gitlab地址">
          <template slot-scope="scope">
            <el-link v-if="scope.row.gitlab==null?false:true" icon="el-icon-s-promotion" content="点击跳转到该项目gitlab地址" v-tippy="{arrow : true}"
              @click="opengitlab(scope.$index, scope.row)" type="primary"></el-link>
            <i v-else class="el-icon-s-promotion"></i>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="primary" size="small">项目分析</el-button>
            <el-button @click="handleDelete(scope.$index, scope.row)" type="danger" icon="el-icon-delete" size="small">
            </el-button>
          </template>
        </el-table-column>
      </el-table>


      <div style="text-align:center;margin-top:20px">
        <el-pagination background layout="prev, pager, next" :page-size="8" :page-count="totalPage"
          @current-change="getProject" :current-page.sync="currentPage">
        </el-pagination>
      </div>
    </div>

    <!-- 使用文件直接上传 -->
    <el-dialog width="40%" :visible.sync="dialogUpload" :show-close="false" :close-on-click-modal="false"
      :title="upDialogTitle">
      <el-form :model="projectForm" :rules="rules" ref="projectForm" class="demo-logList">
        <el-link type="primary" @click="dialogUpload = false;dialogUpWithGit=true">{{"使用gitlab地址"+upType}}</el-link>
        <el-form-item label="项目名称" prop="name">
          <el-input v-model="projectForm.name" :disabled="updateOrNot" class="textInput">
          </el-input>
        </el-form-item>
        <el-row :gutter="50">
          <el-col :span="12">
            <el-form-item label="编程语言" prop="programmingL">
              <br>
              <el-select v-model="value" placeholder="请选择" :disabled="updateOrNot" @change="changeLanguage"
                class="selectLanguage">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="版本号" prop="version">
              <el-input v-model="projectForm.version" class="textInput"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="说明" prop="notes">
          <el-input type="textarea" :rows="3" v-model="projectForm.notes" class="textInput"></el-input>
        </el-form-item>
        <el-form-item prop="file" class="uploadfile">
          <div class="inputfile" id="newbutton">
            <el-button type="primary" size="mini" @click="choosefile">选择文件夹</el-button>
            <span v-if="files.length != 0">已选择{{ files.length }}个文件</span>
            <input @change="getFiles($event)" name="files" type="file" webkitdirectory mozdirectory class="fileinput"
              id="oldbutton" />
          </div>
        </el-form-item>

        <el-form-item style="text-align:center">
          <el-button @click="closedialog" :style="{ display:visibleCancel }">取消</el-button>
          <el-button @click="resetForm" :style="{ display:visibleReset }">重置</el-button>
          <el-button type="primary" @click="upload" :style="{ display:visibleUpload }">上传</el-button>
          <el-button @click="closeUpdateDialog" :style="{ display:visibleCancel1 }">取消</el-button>
          <el-button @click="resetUpdateForm" :style="{ display:visibleReset1 }">重置</el-button>
          <el-button type="primary" @click="update" :style="{ display:visibleUpdate }">更新</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>


    <!-- 使用gitlab地址上传 -->
    <el-dialog width="40%" :visible.sync="dialogUpWithGit" :show-close="false" :close-on-click-modal="false"
      :title="upDialogTitle">
      <el-form :model="projectForm" :rules="rules" ref="projectForm" class="demo-logList">
        <el-link type="primary" @click="dialogUpWithGit = false;dialogUpload = true">{{"使用文件"+upType}}</el-link>
        <el-form-item label="项目名称" prop="name">
          <el-input v-model="projectForm.name" :disabled="updateOrNot" class="textInput">
          </el-input>
        </el-form-item>
        <el-row :gutter="50">
          <el-col :span="12">
            <el-form-item label="编程语言" prop="programmingL">
              <br>
              <el-select v-model="value" :disabled="updateOrNot" placeholder="请选择" @change="changeLanguage"
                class="selectLanguage">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="版本号" prop="version">
              <el-input v-model="projectForm.version" class="textInput"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="说明" prop="notes">
          <el-input type="textarea" :rows="3" v-model="projectForm.notes" class="textInput"></el-input>
        </el-form-item>
        <el-form-item label="gitlab地址" prop="gitlab_address">
          <el-input v-model="projectForm.gitlab_address" class="textInput"></el-input>
        </el-form-item>

        <el-form-item style="text-align:center">
          <el-button @click="closedialog" :style="{ display:visibleCancel }">取消</el-button>
          <el-button @click="resetForm" :style="{ display:visibleReset }">重置</el-button>
          <el-button type="primary" @click="uploadWithGitlab" :style="{ display:visibleUpload }">上传</el-button>
          <el-button @click="closeUpdateDialog" :style="{ display:visibleCancel1 }">取消</el-button>
          <el-button @click="resetUpdateForm" :style="{ display:visibleReset1 }">重置</el-button>
          <el-button type="primary" @click="updateWithGitlab" :style="{ display:visibleUpdate }">更新</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="uploadingWithGitDialog" width="20%" center :close-on-click-modal="false"
      :show-close="false">
      <span style="text-align: center;display:block; font-size:20px">正在上传中</span>
      <i class="el-icon-loading"></i>
    </el-dialog>
    <el-dialog title="请稍候" :visible.sync="updatingWithGitDialog" width="20%" center :close-on-click-modal="false"
      :show-close="false">
      <span style="text-align: center;display:block; font-size:20px">正在更新中</span>
      <i class="el-icon-loading"></i>
    </el-dialog>

    <el-dialog title="请稍候" :visible.sync="deletingDialog" width="20%" center :close-on-click-modal="false"
      :show-close="false">
      <div type="primary" style="text-align: center;display:block; font-size:20px">正在删除中
        <i class="el-icon-loading"></i>
      </div>
    </el-dialog>


    <!-- 更新提示 -->
    <el-dialog title="提示" :visible.sync="confirmUpdateDialog" width="30%" center :close-on-click-modal="false">
      <span style="text-align: center;display:block;">确定要更新{{up_name}}吗?</span>
      <span slot="footer" class="dialog-footer">
        <el-button icon="el-icon-upload2" type="danger" @click="confirmUpdate()">确 定 更 新</el-button>
        <el-button type="primary" @click="confirmUpdateDialog = false">取 消</el-button>
      </span>
    </el-dialog>

    <!-- 删除提示 -->
    <el-dialog title="提示" :visible.sync="confirmDeleteDialog" width="30%" center :close-on-click-modal="false">
      <span style="text-align: center;display:block;">确定要删除{{del_name}}吗?<br>删除项目会将其信息和所有可视化图一并删除</span>
      <span slot="footer" class="dialog-footer">
        <el-button icon="el-icon-delete" type="danger" @click="confirmDelete()">确 定 删 除</el-button>
        <el-button type="primary" @click="confirmDeleteDialog = false">取 消</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="progressDialog" wdith="10%" center :close-on-click-modal="false" :show-close="false">
      <div>上传中,请稍候...</div>
      <div v-show="progressFlag">
        <el-progress :text-inside="true" :stroke-width="14" :percentage="progressPercent"></el-progress>
      </div>
    </el-dialog>

  </el-card>
</template>

<script>
import { tippy } from "vue-tippy";
import axios from "axios";
import {
  getProjectCount,
  getProjectList,
  uploadProject,
  deleteProject,
  uploadProjectWithGit,
  updateProject,
  updateProjectWithGit,
  getProjectCountSearch,
  getProjectListSearch,
} from "@/network/project.js";
import { fromData } from "ssri";
import { resolution } from "css-tree/lib/lexer/generic";
export default {
  computed: {
    isSearch() {
      return this.isFocus;
    }
  },
  name: "Project", //组件的名称
  data() {
    return {
      tableData: [], //项目数据
      multipleSelection: [],
      //dialogVisible1: false,
      dialogUpload: false,//上传文件窗口
      dialogUpWithGit: false,//使用git上传文件窗口
      confirmDeleteDialog: false,//确认删除窗口
      confirmUpdateDialog: false,//确认更新窗口
      progressDialog: false,//进度条

      //转圈圈
      uploadingWithGitDialog: false,
      updatingWithGitDialog: false,
      deletingDialog: false,

      //上传时三个按钮的显示,默认显示
      visibleCancel: "",
      visibleReset: "",
      visibleUpload: "",

      //更新时三个按钮的显示,默认隐藏
      visibleCancel1: "none",
      visibleReset1: "none",
      visibleUpdate: "none",

      visibleSearch: "none",

      projectForm: {
        project_id: "",
        name: "",
        version: "",
        programmingL: "java",
        notes: "",
        gitlab_address: "",
      },
      input: "",//搜索时输入的项目名
      searchName: "",//搜索时使用的项目名
      rules: {
        name: [
          { required: true, message: "请输入项目名称", trigger: "blur" },
          { min: 3, max: 15, message: "长度在 3 到 15 个字符", trigger: "change" }
        ],
        version: [
          { required: true, message: "请输入项目版本", trigger: "blur" },
          { min: 3, max: 15, message: "长度在 3 到 15 个字符", trigger: "change" }
        ],
        gitlab_address: [
          { required: true, message: "请输入gitlab地址", trigger: "blur" },
        ]
      },
      totalPage: 0,
      fromerTotalPage: 0,
      files: [], //上传的文件夹
      currentPage: 1,

      //要删除的项目信息
      del_name: null,
      del_Id: null,

      // //要更新的项目信息
      up_id: null,
      up_name: null,

      updateOrNot: false,//判断是否为更新,默认为false
      upType: "上传",
      upDialogTitle: "上传项目",

      progressPercent: 0,
      progressFlag: false,

      searchOrNot: false,

      options: [{
        value: 'java',
        label: 'java'
      },
      {
        value: 'c++',
        label: 'c++'
      },
      ],
      value: 'java'
    };
  },
  created() {
    this.$store.state.isLfetIconShow = false;
    this.$store.state.PA1show = true;
    this.$store.state.PA2show = false;
  },
  mounted() {
    this.getTotalPage();
    this.getProject();
    //this.getProjectSearching();
    this.$nextTick(() => {
      document.addEventListener('keyup', (e) => {
        if (e.keyCode == 27) {
          this.returnNormal();  //事件名
        }
      })
    });
  },
  methods: {
    //判断页数发生变化
    judgePageCountChange() {
      //因为上传导致页数发生改变
      if (this.fromerTotalPage != this.totalPage) {
        if (this.totalPage == 0) {
          this.currentPage = 1;
        }
        else {
          this.currentPage = this.totalPage;
        }
      }
      this.getProject();
    },
    judgePageCountChangeSearch() {
      //因为上传导致页数发生改变
      if (this.fromerTotalPage != this.totalPage) {
        this.currentPage = this.totalPage;
      }
    },
    //获取页数
    getTotalPage() {
      getProjectCount(this.$store.getters.id)
        .then(res => {
          if (this.totalPage == 0) {
            this.totalPage = res;
            this.fromerTotalPage = this.totalPage;
            this.judgePageCountChange();
          }
          else {
            this.fromerTotalPage = this.totalPage;
            this.totalPage = res;
            this.judgePageCountChange();
          }
        })
        .catch(err => {
          this.$message.error("获取页数失败");
        });
    },
    //获取项目
    getProject() {
      getProjectList(this.$store.getters.id, this.currentPage)
        .then(res => {
          this.tableData = res;
        })
        .catch(err => {
          this.$message.error("获取项目列表失败");
        });
    },

    //搜索时获取项目
    getProjectSearching() {
      getProjectListSearch(this.$store.getters.id, this.searchName)
        .then(res => {
          this.currentPage = 1;
          this.totalPage = 1;
          this.tableData = res;
        })
        .catch(err => {
          //this.$message.error("获取项目列表失败");
        });
    },
    //选择文件
    getFiles(event) {
      var files = event.target.files;
      for (var i = 0; i < files.length; i++) {
        this.files.push(files[i]);
      }
      event.target.value = '';
    },
    //上传项目(文件)
    upload() {
      this.progressPercent = 0;
      if (this.files.length == 0) {
        this.$message.error("请选择项目文件");
        return;
      }
      const callback = progressEvent => {
        // progressEvent.loaded:已上传文件大小
        // progressEvent.total:被上传文件的总大小
        this.progressPercent = Number(
          ((progressEvent.loaded / progressEvent.total) * 90).toFixed(2)
        );
      };
      this.progressFlag = true;
      this.dialogUpload = false;
      this.progressDialog = true;
      this.$refs["projectForm"].validate(valid => {
        if (valid) {
          var formData = new FormData();
          for (var i = 0; i < this.files.length; i++) {
            formData.append("files", this.files[i]);
          }
          formData.append("id", this.$store.getters.id);
          formData.append("userDefineName", this.projectForm.name);
          formData.append("version", this.projectForm.version);
          formData.append("notes", this.projectForm.notes);
          formData.append("language", this.projectForm.programmingL);
          uploadProject(formData, callback)
            .then(res => {
              this.$message.success("上传项目成功");
              if (this.searchOrNot == false) {
                this.getTotalPage();
              }
              else {
                this.getProjectSearching();
              }
              this.resetForm();
              this.progressPercent = 100;
              this.progressDialog = false;
            })

            .catch(err => {
              this.$message.error("上传项目失败");
              console.log(err);
              this.progressDialog = false;
              this.dialogUpload = true;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //更新项目(文件)
    update() {
      if (this.files.length == 0) {
        this.$message.error("请选择项目文件");
        return;
      }
      const callback = progressEvent => {
        // progressEvent.loaded:已上传文件大小
        // progressEvent.total:被上传文件的总大小
        this.progressPercent = Number(
          ((progressEvent.loaded / progressEvent.total) * 90).toFixed(2)
        );
      };
      this.progressFlag = true;
      this.dialogUpload = false;
      this.progressDialog = true;
      this.$refs["projectForm"].validate(valid => {
        if (valid) {
          var formData = new FormData();
          for (var i = 0; i < this.files.length; i++) {
            formData.append("files", this.files[i]);
          }
          formData.append("id", this.up_id);
          formData.append("version", this.projectForm.version);
          formData.append("notes", this.projectForm.notes);
          updateProject(this.up_id, formData, callback)
            .then(res => {
              this.$message.success("更新项目成功");
              if (this.searchOrNot == false) {
                this.getTotalPage();
              }
              else {
                this.getProjectSearching();
              }
              this.resetForm();
              this.progressPercent = 100;
              this.progressDialog = false;
              this.updateOrNot = false;//将状态修改为非更新状态
            })
            .catch(err => {
              this.$message.error("更新项目失败");
              console.log(err);
              this.progressDialog = false;
              this.dialogUpload = true;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //使用gitlab地址上传
    uploadWithGitlab() {
      if (this.projectForm.gitlab_address != null) {
        this.$refs["projectForm"].validate(valid => {
          if (valid) {
            var formData = new FormData();
            formData.append("id", this.$store.getters.id);
            formData.append("userDefineName", this.projectForm.name);
            formData.append("version", this.projectForm.version);
            formData.append("notes", this.projectForm.notes);
            formData.append("language", this.projectForm.programmingL);
            formData.append("gitlab", this.projectForm.gitlab_address);
            this.uploadingWithGitDialog = true;
            uploadProjectWithGit(formData)
              .then(res => {
                this.$message.success("上传项目成功");
                if (this.searchOrNot == false) {
                  this.getTotalPage();
                }
                else {
                  this.getProjectSearching();
                }
                this.uploadingWithGitDialog = false;
                this.dialogUpWithGit = false;
                this.resetForm();
              })
              .catch(err => {
                this.uploadingWithGitDialog = false;
                this.$message.error("上传项目失败");
                console.log(err);
                this.dialogUpWithGit = true;
              });
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      }
    },
    //更新项目(使用git)
    updateWithGitlab() {
      if (this.projectForm.gitlab_address != null) {
        this.$refs["projectForm"].validate(valid => {
          if (valid) {
            var formData = new FormData();
            formData.append("id", this.up_id);
            formData.append("userDefineName", this.projectForm.name);
            formData.append("version", this.projectForm.version);
            formData.append("notes", this.projectForm.notes);
            formData.append("language", this.projectForm.programmingL);
            formData.append("gitlab", this.projectForm.gitlab_address);
            this.updatingWithGitDialog = true;
            updateProjectWithGit(formData)
              .then(res => {
                this.$message.success("更新项目成功");
                if (this.searchOrNot == false) {
                  this.getTotalPage();
                }
                else {
                  this.getProjectSearching();
                }
                this.updatingWithGitDialog = false;
                this.dialogUpWithGit = false;
                this.resetForm();
                this.updateOrNot = false;//将状态修改为非更新状态
              })
              .catch(err => {
                this.updatingWithGitDialog = false;
                this.$message.error("更新项目失败");
                console.log(err);
                this.dialogUpWithGit = true;
              });
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      }
    },
    //点击版本号提示确认更新
    versionUpdate(scope, row) {
      this.up_name = row.projectname;
      this.confirmUpdateDialog = true;
      this.projectForm.name = row.projectname;
      this.value = row.language;
      this.up_id = row.id;
    },
    //日期格式formmater
    dateformatter(row, column) {
      return row.uploaddate.substr(0, 10);
    },
    //选择文件
    choosefile() {
      document.getElementById("oldbutton").click();
    },
    //重置上传文件表单
    resetForm() {
      this.files = [];
      this.projectForm.name = "";
      this.projectForm.version = "";
      this.projectForm.programming_l = "java";
      this.projectForm.notes = "";
      this.projectForm.gitlab_address = "";
    },
    //重置更新文件表单
    resetUpdateForm() {
      this.files = [];
      this.projectForm.version = "";
      this.projectForm.notes = "";
      this.projectForm.gitlab_address = "";
    },
    //关闭上传文件dialog
    closedialog() {
      this.resetForm();
      this.dialogUpload = false;
      this.dialogUpWithGit = false;
      this.value = "java";
    },
    //关闭更新文件dialog
    closeUpdateDialog() {
      this.resetForm();
      this.dialogUpload = false;
      this.dialogUpWithGit = false;
      this.visibleCancel = "";
      this.visibleCancel1 = "none";
      this.visibleReset = "";
      this.visibleReset1 = "none";
      this.visibleUpdate = "none";
      this.visibleUpload = "";
      this.updateOrNot = false;
      this.upType = "上传";
      this.upDialogTitle = "上传项目";
    },
    //点击进入分析按钮
    handleClick(row) {
      this.$store.state.isLfetIconShow = true,
        this.$store.state.PA1show = false;
      this.$store.state.PA2show = true;
      this.$store.commit("SET_PROJECT", row); //将选择的项目信息存入vuex中保存，以便之后访问
      //console.log(row);
      this.$router.push({ name: "ProjectAnalyze", params: { id: this.$store.getters.project.id, projectname: this.$store.getters.project.projectname } }, onComplete => { },
        onAbort => { });
    },

    //点击删除按钮
    handleDelete(index, row) {
      this.confirmDeleteDialog = true;
      this.$store.commit("SET_PROJECT", row); //将选择的项目信息存入vuex中保存，以便之后访问
      this.del_name = row.projectname;
      this.del_Id = row.id;
    },
    //确认删除
    confirmDelete() {
      this.deletingDialog = true;
      deleteProject(this.del_Id).then(res => {
        if (res === 0) {
          this.$message.success("删除项目成功");
          this.deletingDialog = false;
          this.confirmDeleteDialog = false;
          if (this.searchOrNot == false) {
            this.getTotalPage();
          }
          else {
            this.getProjectSearching();
          }
        }
        else if (data.res === -1) {
          this.deletingDialog = false;
          this.$message.error("删除失败");
          this.confirmDeleteDialog = false;
        }
        else {
          this.deletingDialog = false;
          this.$message.error("网络错误");
        }
      });
    },
    //确认更新
    confirmUpdate() {
      this.upType = "更新";
      this.upDialogTitle = "更新项目";
      this.confirmUpdateDialog = false;
      this.updateOrNot = true;//窗口界面改为更新状态
      this.dialogUpload = true;
      this.visibleCancel = "none";
      this.visibleCancel1 = "";
      this.visibleReset = "none";
      this.visibleReset1 = "";
      this.visibleUpload = "none";
      this.visibleUpdate = "";
    },
    //进入结构分模块
    // toStructureAnalysis() {
    //   this.dialogVisible1 = false;
    //   console.log(this.$store.getters.project.id);
    //   this.$router.push({ name: "ProjectAnalyze", params: { id: this.$store.getters.project.id } });
    // },
    // //进入逆向模块
    // toReengineering() {
    //   this.dialogVisible1 = false;
    //   this.$store.commit("SET_VSIDX", 0);
    //   this.$store.commit("SET_LABEL", "");
    //   this.$router.push("/reengineering");
    // },


    //打开gitlab地址
    opengitlab(index, row) {
      if (row.gitlab != null)
        window.open(row.gitlab, '_blank');
      else {
        this.$message.error('该项目没有gitlab地址可供打开');
      }
    },


    // 搜索项目(项目名)
    searchHandler() {
      if (this.input != "") {
        this.searchName = this.input;
        this.searchOrNot = true;
        this.visibleSearch = "";
        this.totalPage = 0;
        this.currentPage = 1;
        this.getProjectSearching();
      }
      else {
        this.$message({
          message: '您输入的查找项目名为空',
          type: 'warning'
        });
      }
    },

    //取消搜索
    returnNormal() {
      this.visibleSearch = "none";
      this.totalPage = 0;
      this.currentPage = 1;
      this.getTotalPage();
      this.input = null;
      this.searchName = null;
      this.searchOrNot = false;
    },

    //获取上传文件时选择器中的编程语言
    changeLanguage(value) {
      this.projectForm.programmingL = value;
    }
  }
};
</script>

<style scoped>
.el {
  font-weight: bolder;
}

.content {
  margin: 15px 0px;
  /* text-align: center; */
}

/* .el-button--primary {
    color: #FFF;
    background-color: rgb(101, 165, 253);
    border-color: #409EFF;
} */
.upload-demo {
  margin: 0 auto;
}
</style>
<style>
.el-upload {
  width: 100%;
}

.el-upload-dragger {
  width: 100%;
  height: 180px;
}

.selectLanguage {
  width: 100%
}

#oldbutton {
  display: none;
}
</style>
