<template>
  <div style="position: relative;height: 70vh;padding-right: 2%;" v-loading="loading" element-loading-text="加载中"
    element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
    <div style="padding-left:5%;padding-top:5%">
      <table v-if="!loading">
        <tbody>
          <tr>
            <th>统计项</th>
            <th>结果</th>
          </tr>
          <tr>
            <td class="type_key"> 文件中的类数</td>
            <td>{{this.fileAnalyzeVo.classcount}} </td>
          </tr>
          <tr>
            <td class="type_key"> 文件中的类</td>
            <td>{{this.fileAnalyzeVo.classlist }} </td>
          </tr>
          <tr>
            <td class="type_key"> 文件中的全局变量数</td>
            <td>{{this.fileAnalyzeVo.variablecount }} </td>
          </tr>
          <tr>
            <td class="type_key"> 文件行数</td>
            <td>{{this.fileAnalyzeVo.linecount }} </td>
          </tr>
          <tr>
            <td class="type_key"> 文件方法数</td>
            <td>{{this.fileAnalyzeVo.functioncount }} </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div>--------------------------------------------------------------</div>
      <br>
      <div v-for="functionInformation in functionInformations">
        <table v-if="!loading">
          <tbody>
            <tr>
              <th>统计项</th>
              <th>结果</th>
            </tr>
            <tr>
              <td class="type_key"> 函数名</td>
              <td>{{functionInformation.name}} </td>
            </tr>
            <tr>
              <td class="type_key"> 函数内局部变量：</td>
              <td>{{functionInformation.varList }} </td>
            </tr>
            <tr>
              <td class="type_key"> 函数复杂度</td>
              <td>{{functionInformation.halsteadMetrics}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div>--------------------------------------------------------------</div>
      <br>
      <table v-if="!loading">
        <tbody>
          <tr>
            <th>统计项</th>
            <th>结果</th>
          </tr>
          <tr>
            <td class="type_key"> 文件Halstead复杂度</td>
            <td>{{this.fileAnalyzeVo.fileHalstead}} </td>
          </tr>
        </tbody>
      </table>
      <br>
      <el-tree :data="dataDir" :props="defaultProps">
      </el-tree>
    </div>
  </div>
</template>
    
<script>
import {
  getFileAnalyze, getFileDependency, getFileCall
} from "../network/structureanalyze.js"

export default {
  name: "fileDetail",
  data() {
    return {
      dataDir: [],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      id: 0,
      userId: 1,
      filepath: "",
      filepathvo: "",
      fileAnalyzeVo: [],
      functionInformations: null,
      dependencyVo: [],
      callRelationVo: [],
      loading: true,
    };
  },
  created() {
    this.loading=true;
    this.id = this.$store.getters.project.id;
    this.userId = this.$store.getters.id;
    this.filepath = this.$store.getters.filepath;
    this.getFileAnalyzeInformation();
  },
  mounted() {

  },
  watch: {
  },
  methods: {
    getFileAnalyzeInformation() {
      var array=new Array(4);
      getFileAnalyze(this.id, this.filepath, this.userId).then(response => {
        if (response.code === -1) {
          this.$message.error("获取文件信息失败");
        }
        else if (response.code === -1) {
          this.fileAnalyzeVo = response;
          this.functionInformations = JSON.parse(this.fileAnalyzeVo.functionvariable);
        }
      });
      getFileDependency(this.id, this.filepath, this.userId).then(response => {
        if (response.code === -1) {
          this.$message.error("获取文件依赖失败");
        }
        else if (response.code === 1) {
          this.dependencyVo = response;
          array[0]=[];
          array[0]['label']='文件内部被依赖';
          array[0]['children']=[];
          for(var i=0;i<response.beDependentOn.length;i++){
            array[0]['children'].push(response.beDependentOn[i]);
          }
          array[1]=[];
          array[1]['label']='文件内部依赖';
          arry[1]['children']=[];
          for(var i=0;i<response.dependency.length;i++){
            array[1]['children'].push(response.dependency[i]);
          }
        }
      });
      getFileCall(this.id, this.filepath, this.userId).then(response => {
        if (response.code === -1) {
          this.$message.error("获取文件调用失败");
        }
        else if (response.code === 1) {
          this.callRelationVo = response;
          array[2]=[];
          array[2]['label']='文件内部被调用';
          array[2]['children']=[];
          for(var i=0;i<response.beDependentOn.length;i++){
            array[2]['children'].push(response.beCalledOn[i]);
          }
          array[3]=[];
          array[3]['label']='文件内部调用';
          arry[3]['children']=[];
          for(var i=0;i<response.dependency.length;i++){
            array[3]['children'].push(response.call[i]);
          }
        }
      });
      this.dataDir=array;
      this.loading=false;
    }
  },
};
</script>
    
    <!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped>
table {
  width: 60%;
  height: 60%;
  border: 1px solid;
}

td {
  border: 1px solid;
  text-align: left;
  padding-left: 8%;
  background-color: #DCDFE6;
  height: 50px;
  font-size: 20px;
}

table,
td {
  border-collapse: collapse;
  /*合并相邻边框*/
}

th {
  background-color: #606266;
}

.type_key {
  width: 35%;
}
</style>
    