<template>
  <el-aside v-bind:style="{ width: detailWidth + 'px' }" class="el-aside">

    <!-- 左边列总体容器 -->
    <el-row :span="24" style="height: 92vh">
      <div id="resize"></div>
      <!-- 左列顶部固定栏目 -->
      <el-row style="height: 95%">
        <!-- 信息所在行容器 -->
        <el-row>
          <el-col :span="10" class="top-container">
            <p class="top-text">{{projectname}}</p>
          </el-col>
        </el-row>
        <!-- 查找框所在行容器 -->
        <el-row>
          <el-input class="search-input" placeholder="查找文件" v-model="filterText">
            <i class="search-input-icon el-icon-search"></i>
          </el-input>
        </el-row>
        <br>
        <el-scrollbar class="myscrollbar">
          <el-tree :data="projectDir" :props="defaultProps" node-key="id" :default-expanded-keys="defaultShowNodes"
            :filter-node-method="filterNode" ref="tree" :expand-on-click-node="false" :render-content="renderContent"
            :indent="5">
          </el-tree>
        </el-scrollbar>
      </el-row>
    </el-row>
  </el-aside>
</template>
  
<script>
import {
  getProjectDir,
} from "../network/structureanalyze.js"

export default {
  name: "leftMenu",
  data() {
    return {
      asideHeight: "100%",
      filterText: "",//s搜索的文件名
      detailWidth: 350,
      defaultShowNodes: [],//默认展开的id组
       projectDir: [{
      //   id: 1,
      //   nodeShortName: '水水水水水',
      //   result: [1, 1, 1],
      //   detail: 1,
      //   children: [{
      //     id: 3,
      //     nodeShortName: '顶顶顶顶顶',
      //     result: [0,0,0],
      //     detail: -1,
      //     children: [{
      //       id: 4,
      //       nodeShortName: '草草草草草.java',
      //       result: [0,1,1,1],
      //       detail: 1,
      //     }, {
      //       id: 5,
      //       nodeShortName: '哈哈哈哈哈.java',
      //       result: [0,0,1,1],
      //       detail: 1,
      //     }]
      //   }, {
      //     id: 2,
      //     nodeShortName: '有有有由于',
      //     result: [0,0,0],
      //     detail: -1,
      //     children: [{
      //       id: 6,
      //       nodeShortName: '哦哦哦哦哦',
      //       result: [0,0,0],
      //       detail: -1,
      //     }, {
      //       id: 7,
      //       nodeShortName: '钱钱钱钱钱.java',
      //       result: [0,0,0,0],
      //       detail: -1,
      //     }]
      //   }]
      }],
      defaultProps: {
        children: "children",
        label: "nodeShortName",
      },
      projectname: "",//项目名称
      userid: 1,
      id: 1,//项目id
    };
  },
  props: {
    fileAnalyze: {
      type: Function,
      default: null
    },
    projectAnalyze: {
      type: Function,
      default: null
    }
  },
  created() {
    this.projectname = this.$store.getters.project.projectname;
    this.userId = this.$store.getters.id;
    this.id = this.$store.getters.project.id;
    this.getProjectVoWhenCreated();
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  methods: {
    filterNode(value, data) {
      // console.log(data);
      if (!value) return true;
      return data.nodeShortName.indexOf(value) !== -1;
    },
    getProjectVoWhenCreated() {
      getProjectDir(this.id).then(res => {
        if (res.code == -1) {
          this.$message.error("获取项目目录失败");
        }
        else {
          this.projectDir = res.result;
          console.log(res);
          this.getDefaultShowNodes(4, this.projectDir);//默认展开三层（第四级）
        }
      });
    },
    // 定义拖拽条的点击、拖动、松开事件
    dragControllerDiv: function () {
      // 保留this引用
      let data = this;
      let resize = document.getElementById("resize");
      resize.onmousedown = function (e) {
        // 颜色改变提醒
        resize.style.background = "#818181";
        let startX = e.clientX;
        resize.left = resize.offsetLeft;
        document.onmousemove = function (e) {
          // 计算并应用位移量
          let endX = e.clientX;
          let moveLen = endX - startX;
          startX = endX;
          data.detailWidth = Math.min(Math.max(data.detailWidth + moveLen, 280), 700);
        };
        document.onmouseup = function () {
          // 颜色恢复
          resize.style.background = "";
          document.onmousemove = null;
          document.onmouseup = null;
        };
        return false;
      };
    },

    openTabs(data) {
      if (data.nodeShortName.endsWith(".java")) {
        this.fileAnalyze(data)
      } else {
        this.projectAnalyze(data)
      }
    },


    //判断生成了什么图像
    judgeImage(data, type) {//data为节点的result数组，type表示该节点是项目还是文件,规定项目为1，文件为2
      if (type == 1) {
        var a = "";
        if (data[0] == 1) a = a + "call";
        if (data[1] == 1) a = a + "depandency";
        if (data[2] == 1) a = a + "class";
        return a;
      }
      else if (type == 2) {
        var a = "";
        if (data[0] == 1) a = a + "AST";
        if (data[1] == 1) a = a + "ControlFlow";
        if (data[2] == 1) a = a + "DataDependence";
        if (data[3] == 1) a = a + "CFBaseOnDD";
        return a;
      }
    },

    renderContent(h, { node, data, store }) {
      if (!node.data.nodeShortName) {
        return
      }
      if (node.childNodes.length === 0) {//叶子节点
        let len = node.data.nodeShortName.length;
        if (len > 5) {
          let start = data.nodeShortName.length - 5;
          if (node.data.nodeShortName.substr(start) == ".java") {//java文件
            var str = this.judgeImage(node.data.result, 2);
            if (str != null) {//生成过文件信息和图像,,生成图像前一定先生成过文件信息
              if (str == "ASTControlFlowDataDependenceCFBaseOnDD") {//四种图像全生成过
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过所有图像" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }

              //只生成了一种图像
              else if (str == "AST") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树" v-tippy ></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ControlFlow") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过控制流图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "DataDependence") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "CFBaseOnDD") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }

              //生成过两种图像
              else if (str == "ASTControlFlow") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树和控制流图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ASTDataDependence") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树和数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ASTCFBaseOnDD") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ControlFlowDataDependence") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过控制流图和数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ControlFlowCFBaseOnDD") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过控制流图和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "DataDependenceCFBaseOnDD") {
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过数据依赖图和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }

              //生成过三种图像
              else if (str == "ASTControlFlowDataDependence") {//123
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树、控制流图和数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ASTDataDependenceCFBaseOnDD") {//134
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树、数据依赖图和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ASTControlFlowCFBaseOnDD") {//124
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过抽象语法树、控制流图和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
              else if (str == "ControlFlowDataDependenceCFBaseOnDD") {//234
                return (
                  <span class="custom-tree-node">
                    <span>{node.label}</span>
                    <div>
                      <i style="padding-right:10px" class="el-icon-picture-outline" content="该文件生成过控制流图、数据依赖图和基于控制流的数据依赖图" v-tippy></i>
                      <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                      <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                    </div>
                  </span>);
              }
            }

            else if (node.data.detail != -1) {//生成过文件信息,没生成过图像
              return (
                <span class="custom-tree-node">
                  <span>{node.label}</span>
                  <span>
                    <i style="padding-right:10px" class="el-icon-document" content="该文件生成过文件信息" v-tippy></i>
                    <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                  </span>
                </span>);
            }
            //都没生成过
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <span>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </span>
              </span>);
          }
          else {//非java文件，文件名长度大于5
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
              </span>
            );
          }
        }
        else {//非java文件,文件名长度小于5
          return (
            <span class="custom-tree-node">
              <span>{node.label}</span>
            </span>
          );
        }
      }//叶子结点所有可能结束
      else if (node.level === 1) {//根节点
        var str = this.judgeImage(node.data.result, 1);
        if (str != null) {//生成过项目信息和图像,生成图像前项目信息一定先生成过
          if (str == "calldepandencyclass") {//所有图像均生成过
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <span>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过所有图像" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </span>
              </span>);
          }
          else if (str == "class") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过类图" v-tippy ></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }
          else if (str == "depandency") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过依赖图" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }
          else if (str == "call") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过调用图" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }

          else if (str == "calldepandency") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过调用图和依赖图" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }
          else if (str == "callclass") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过调用图和类图" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }
          else if (str == "depandencyclass") {
            return (
              <span class="custom-tree-node">
                <span>{node.label}</span>
                <div>
                  <i style="padding-right:10px" class="el-icon-picture-outline" content="该项目生成过依赖图和类图" v-tippy></i>
                  <i style="padding-right:10px" class="el-icon-document" content="该项目生成过项目信息" v-tippy></i>
                  <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
                </div>
              </span>);
          }

        }
        else if (node.data.detail != -1) {//生成过项目信息,没生成过图像
          return (
            <span class="custom-tree-node">
              <span>{node.label}</span>
              <span>
                <i style="padding-right:10px" class="el-icon-document" content="该项目生成过图像" v-tippy></i>
                <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
              </span>
            </span>);
        }
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-link on-click={() => this.openTabs(data)} class="el-icon-top-right" type="primary" ></el-link>
            </span>
          </span>);
      }
      else if (node.childNodes.length > 0) {//非叶节点
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
          </span>
        );
      }
    },
    getDefaultShowNodes(num, children) {
      --num;
      if (num >= 0) {
        for (var i = 0; i < children.length; i++) {
          this.defaultShowNodes.push(children[i].id);
          if (children[i].children) {
            this.getDefaultShowNodes(num, children[i].children);
          }
        }
      }
    }
  },
  mounted() {
    this.dragControllerDiv();
  },
};
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped>
.el-aside {
  background-color: #87cefa;
  height: 92vh;
  overflow: hidden;
}

.el-aside .top-container {
  padding-left: 5%;
  padding-top: 2%;
}

.el-aside .top-text {
  font-size: 30px;
}

.search-input {
  width: 95%;
  border-radius: 30px;
  padding-left: 5%;
  padding-top: 3%;
}

.myscrollbar {
  margin-top: 3%;
  height: 85%;
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.637)
}

.myscrollbar>>>.el-scrollbar__wrap {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

/* 拖拽条的样式定义 */
#resize {
  width: 5px;
  height: 100%;
  background-color: #87cefa;
  float: right;
  z-index: 1000;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: w-resize;
}
</style>
  