<template>
    <div 
        style="position: relative;height: 70vh;padding-right: 2%;" 
        v-loading="loading" element-loading-text="加载中"
        element-loading-spinner="el-icon-loading" 
        element-loading-background="rgba(0, 0, 0, 0.8)"
        >
        <div style="padding-left:5%;padding-top:5%">
            <table v-if="!loading">
                <tbody>
                    <tr>
                        <th>统计项</th>
                        <th>结果</th>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目行数统计</td>
                        <td>{{this.projectAnalyzeVo.linecount }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目文件数统计</td>
                        <td>{{this.projectAnalyzeVo.filecount }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目类数统计</td>
                        <td>{{this.projectAnalyzeVo.classcount }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目方法数统计</td>
                        <td>{{this.projectAnalyzeVo.functioncount }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目中最长的文件</td>
                        <td>{{this.projectAnalyzeVo.longestfile }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目中最长的类</td>
                        <td>{{this.projectAnalyzeVo.longestclass}} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目中最长的方法</td>
                        <td>{{this.projectAnalyzeVo.longestfunction }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目中最复杂的文件</td>
                        <td>{{this.projectAnalyzeVo.mostComplexFile }} </td>
                    </tr>
                    <tr>
                        <td class="type_key"> 项目中复杂度拟合结果</td>
                        <td>{{this.projectAnalyzeVo.projectComplexity }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
    
<script>
import {
    getProjectAnalyze,
} from "../network/structureanalyze.js"

export default {
    name: "projectDetail",
    data() {
        return {
            id: 1,
            userId: 1,
            projectAnalyzeVo: {},
            loading: true,
        };
    },
    created() {
        this.loading=true;
        this.id = this.$store.getters.project.id;
        this.userId = this.$store.getters.id;
        this.getProjectVo();
    },
    mounted() {

    },
    watch: {
    },
    methods: {
        getProjectVo() {
            getProjectAnalyze(this.id, this.userId).then(response => {
                if (response.code === -1) {
                    this.$message.error("获取项目信息失败");
                    this.loading=false;
                }
                else if (response.code === 1) {
                    this.projectAnalyzeVo = response;
                    this.loading=false;
                }
            });
        },
    },
}
</script>
    
    <!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped>
table {
    width: 60%;
    height: 60%;
    border: 1px solid;
}

td {
    border: 1px solid;
    text-align: left;
    padding-left: 8%;
    background-color: #DCDFE6;
    height: 50px;
    font-size: 20px;
}

table,
td {
    border-collapse: collapse;
    /*合并相邻边框*/
}

th {
    background-color: #606266;
}

.type_key {
    width: 35%;
}
</style>
    