<!-- 可视化页面 -->
<template >
    <div style="height: 92vh;padding-top: 2%;padding-left: 2%;">
        <div style="font-size: x-large;line-height: 100%;height: 5%;">{{this.name}}</div>
        <span v-if="showFlag">
            <el-tabs v-model="topActiveName" type="card" @tab-click="projectTabsClick"
                style="height: 90%; margin-top: 5px">
                <el-tab-pane label="项目信息" name="projectDetail">
                    <ProjectDeatil v-if="this.projectDiagram === 0"></ProjectDeatil>
                </el-tab-pane>
                <el-tab-pane label="调用图" name="call">

                </el-tab-pane>
                <el-tab-pane label="依赖图" name="depandency">

                </el-tab-pane>
                <el-tab-pane label="类图" name="class">
                    <ClassDiagram style="height=100%" v-if="this.projectDiagram === 3"></ClassDiagram>
                </el-tab-pane>
            </el-tabs>
        </span>
        <span v-else>
            <el-tabs v-model="topActiveName2" type="card" @tab-click="fileTabsClick"
                style="height: 90%; margin-top: 5px">
                <el-tab-pane label="文件信息" name="fileDetail">
                    <FileDetail v-if="this.fileDiagram === 0"></FileDetail>
                </el-tab-pane>
                <el-tab-pane label="抽象语法树" name="AST">

                </el-tab-pane>
                <el-tab-pane label="控制流图" name="ControlFlow">
                    <ControlFlow v-if="this.fileDiagram === 2"></ControlFlow>
                </el-tab-pane>
                <el-tab-pane label="数据依赖图" name="DataDependence">
                    <DataDependence v-if="this.fileDiagram === 3"></DataDependence>
                </el-tab-pane>
                <el-tab-pane label="基于控制流的数据依赖图" name="CFBaseOnDD">
                    <DataDependence v-if="this.fileDiagram === 4"></DataDependence>
                </el-tab-pane>
            </el-tabs>
        </span>
    </div>

</template>
  
<script>
import ClassDiagram from "@/views/ReverseEngineering/ClassDiagram";
import ControlFlow from "@/views/ReverseEngineering/ControlFlow";
import DataDependence from "@/views/ReverseEngineering//DataDependence";
import ProjectDeatil from "./projectDeatil.vue";
import FileDetail from "./fileDetail.vue";
export default {
    name: "projectTabPane",
    data() {
        return {
            name:this.$store.getters.project.projectname,
            topActiveName: "projectDetail",
            topActiveName2: "fileDetail",
            showFlag: true,
            projectDiagram: 0,
            projectDiagramMap:{
                "projectDetail":0,
                "call":1,
                "depandency":2,
                "class":3,
            },
            fileDiagram: 0,
            fileDiagramMap: {
                "fileDetail": 0,
                "AST": 1,
                "ControlFlow": 2,
                "DataDependence": 3,
                "CFBaseOnDD": 4
            }
        };
    },
    components: {
    //VSTable
    ClassDiagram,
    ControlFlow,
    DataDependence,
    ProjectDeatil,
    FileDetail
},
    methods: {
        projectAnalyse(filename) {
            this.name = filename,
            this.showFlag = true;
            this.projectDiagram = 0;
            this.topActiveName = "projectDetail";
        },
        fileAnalyse(detail, relativePath) {
            let temp = relativePath.split("\\").splice(3);
            let showNum = 5
            if(temp.length > showNum){
                this.name = "...\\" + temp.splice(temp.length-showNum).join("\\");
            }else{
                this.name = temp.join("\\");
            }
            this.showFlag = false;
            this.fileDiagram = 0;
            this.topActiveName2 = "fileDetail";
            this.$store.commit("SET_FILEPATH", relativePath);
        },
        projectTabsClick(tab) {
            this.projectDiagram=this.projectDiagramMap[tab.name];
        },
        fileTabsClick(tab) {
            if(tab.name=="DataDependence"){
                this.$store.commit("SET_VSIDX",3);
            }
            else if(tab.name=="CFBaseOnDD"){
                this.$store.commit("SET_VSIDX",4);
            }
            this.fileDiagram = this.fileDiagramMap[tab.name];
            //console.log(this.$store.getters.diagram_idx);
        }
    }
};
</script>
  
<style>

</style>
  