<template>
  <div id="building" style=" height: 92vh;">
    <el-container style=" height: 92vh; min-height: 721.6px">
      <!-- 侧边栏 -->
      <transition name="el-zoom-in-left">
        <leftMenu v-show="showPop" :fileAnalyze="fileAnalyze" :projectAnalyze="projectAnalyze"></leftMenu>
      </transition>
      <!-- 右边tabs -->
      <el-main style="height:92vh">
        <projectTabPane ref="tabs"></projectTabPane>
      </el-main>

    </el-container>
  </div>
</template>

<script>
import leftMenu from "../../components/leftMenu.vue";
import projectTabPane from "../../components/projectTabPane.vue"
export default {
  name: "ProjectAnalyze",
  data() {
    return {
      id: 1,
      projectname: "",
      userId: 1,     
      showPop: this.$store.state.isLeftMenuShow,
    };
  },
  components: {
    leftMenu,
    projectTabPane,
  },
  created() {
    this.userId = this.$store.getters.id;
    this.$refs.tabs.projectAnalyse(this.$route.params.projectname);
  },
  computed: {
    listenComponentState() {
      return this.$store.state.isLeftMenuShow;
    },
  },
  watch: {
    listenComponentState: function (val, oldval) {
      this.showPop = !this.showPop;
    },
  },
  methods: {
    fileAnalyze(obj){
      this.$refs.tabs.fileAnalyse(obj.detail,obj.nodePath);
    },
    projectAnalyze(obj){
      this.$refs.tabs.projectAnalyse(obj.nodeShortName);
    }
  }
};
</script>

<style scoped>
#building {
  /* background: url("../assets/images/typebg.jpg"); */
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #000000;
}

.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
}

.header .logo {
  float: left;
  margin-left: 60px;
  margin-top: 17.5px;
  height: 29px;
  width: 160px;
  background: #000000;
  color: #ffffff;
  vertical-align: middle;
}

.header-right {
  float: right;
  padding-right: 50px;
}

.header-user-con {
  display: flex;
  height: 70px;
  align-items: center;
}

.user-avator {
  margin-left: 20px;
}

.user-avator img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  margin-left: 10px;
}

.el-dropdown-link {
  cursor: pointer;
}

.el-dropdown-menu__item {
  text-align: center;
}

/* --------------- 水平一级菜单栏的样式--------------------- */
.el-menu.el-menu--horizontal {
  border-bottom: none !important;
  float: left;
  margin-left: 50px;
}

.el-menu--horizontal>.el-menu-item.is-active {
  border-bottom: 2px solid #409eff;
  color: #3989fa;
  font-weight: 700;
}

.el-menu--horizontal>.el-menu-item {
  font-size: 20px;
  margin: 0 15px;
  color: #ffffff;
}

/* --------------- 同一行显示--------------------- */
.sameLine {
  margin-top: 5px;
  margin-left: 0px;
  font-size: 25px;
  font-weight: 900;
  display: inline-block;
  color: #000;
}

.dirclass {
  font-size: 30px;
  font-weight: 900;
}

.fileDetailClass {
  font-size: 20px;
  color: #000;
}

.word-v-middle {
  margin-bottom: 0;
  font-size: 20px;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  margin-top: 30px;
  color: #000000;
  white-space: normal;
}

.el-header {
  background-color: #b3c0d1;
  color: #000000;
  line-height: 60px;
}

.el-aside {
  background-color: #87cefa;
  height: 100%;
  overflow: hidden;
}

.myscrollbar {
  height: 100%;
}

.myscrollbar>>>.el-scrollbar__wrap {
  overflow-x: hidden;
}

.search-input {
  width: 90%;
  margin-left: 15px;
}

.layout-container {
  height: 100%;
}

.routerView {
  height: 100%;
}


</style>
